/* -------------------------------- 

File#: _1_main-footer
Title: Main Footer
Descr: Footer navigation
Usage: codyhouse.co/license

-------------------------------- */
.main-footer__logo {
  display: inline-block;
}
.main-footer__logo svg, .main-footer__logo img {
  display: block;
}

.main-footer__link {
  color: var(--color-contrast-medium);
  text-decoration: none;
}
.main-footer__link:hover {
  color: var(--color-contrast-high);
  text-decoration: underline;
}

.main-footer__social {
  text-decoration: none;
  display: inline-block;
  color: var(--color-contrast-medium);
}
.main-footer__social:hover {
  color: var(--color-contrast-high);
}
.main-footer__social .icon {
  font-size: 1.2em;
}
@media (min-width: 64rem) {
  .main-footer__social .icon {
    font-size: 1em;
  }
}